.App {
  text-align: center;
  min-height: 100vh;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/937/777/306/pokemon-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: 100dvw;
  background-color: #4a575f;
}

