*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.home{
  padding-top: 20vh;
  .search-container{
    
    
    img{
      width: 50%;
    }
    .search{
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      input{
        font-size: 30px;
        height: 50px;
        width: 320px;
        border-radius: 12px;
        padding: 5px 10px;
        color: #fbc701;
        text-shadow: 1px 1px 1px #2877c2, -1px -1px 1px #2877c2;
        text-align: center;
        &::placeholder{
          font-size: 20px;

        }
        &:focus{
          outline:none;
        }
      }
      .search-btn{
        box-shadow: 0 0 2px gold;
        padding: 5px 30px;
        background-color: #0e3f7a;
        font-weight: 600;
        letter-spacing: 1.2px;
      }
    }
  }
  
  .results{
  
    display: flex;
    padding: 40px 20px;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
    align-items: center;
      @media (max-width:786px) {
        gap: 5vw;
    }
    @media (min-width:1200px) {
      gap: 7vw;
      padding: 40px 40px;
    }
    .card{
      border-color: #0e3f7a;
      background-color: #97999ca1;
      width: 26vw !important;
      @media (max-width:786px) {
        width: 33vw !important;}
      .card-title{
        background-color: #0e3f7a;
        color: white;
        font-weight: 700;
        letter-spacing: 1.2px;
        padding: 10px ;
        @media (max-width:786px) {
          font-size: 1rem;
        }
      }
      img{
        width: 70%;
  margin: 0 auto;
      }
      .card-body{
        padding: 0 0 10px;
        margin-top: -10px;
        button{
          background-color: #0e3f7a;
        }
      }
    }
  }
}
.about{
  padding-top: 50px;
  .poke-title{
        width: 60%;
        margin-bottom: 20px;   
  }
  .poke-card{
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    width: 70vw;
    max-width: 370px;
    height: auto;
    margin: 20px auto;
    @media (min-width:768px) {
      width: 45vw;
      max-width: 400px;
    }
    @media (min-width:1199px) {
      max-width: 440px;
    }
    cursor: pointer;
    &.flip{
      transform: rotateY(180deg);
    }
    .face{ backface-visibility: hidden; -webkit-backface-visibility: hidden; }
    
    .front{
      background-color: #e8e964;
      border: 10px solid #97999c;
      .card-header{
        width: 98%;
        text-transform: capitalize;
        display: flex;
        justify-content: space-around;
        font-size: 1.7rem;
        .poke-name{
          margin-bottom: 0;
          font-weight: 600;
        }
        .poke-hp{
          margin-bottom: 0;
          span{font-size: 1rem;}
        }

      }

      .image{
        display: flex;
        border: 5px solid #97999c;
        border-radius: 6px;
        width: 98%;
        margin: 0 auto;
        box-shadow: 0 0 12px inset;

        img{
          width: 200px;
          margin: -15px auto;
          @media (max-width:768px) {
          }
        }
      }
      .type{
        margin: 15px auto;
        display: flex;
        justify-content: space-evenly;
        h3{
          background-color: #ddd;
          padding: 5px 10px;
          border-radius: 6px;
          text-transform: uppercase;
          width: fit-content;
        }
}
      .abilities{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top: 5px solid #97999c;
        padding: 5px 0px;
        h4{
          box-shadow: 0 0 5px inset;
          padding: 3px 6px;
        }
        @media (max-width:768px) {
          flex-wrap: wrap;
          gap: 5px;
        }
      }
      .stats{
        border-top: 5px solid #97999c;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-transform: capitalize;
        p{
          text-align: left;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
    .back{
      position: absolute;
      top: 0;
      left:0;
      transform: rotateY(180deg) ;
      overflow: hidden;
      width: 102%;
      height: 102%;
      .image{
        height: 100%;
        img{
          width: 102%;
          height: 102%;
        }
      }
    }
  }
  .btn {
    font-weight: 700;
    border-radius:6px;
    transition: .3s;
    box-shadow: 0 0 2px gold;
    padding: 5px 30px;
    background-color: #0e3f7a;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    @media (min-width:768px) {
      font-size: 1.3rem;
    }
    @media (min-width:1200px) {
      font-size: 1.5rem;
    }    
  }
}
